*.mypy_cache*
*__pycache__*
mqtt.beebotte.com.pem
bebotte_token
s3_bucket
*.vscode*
*.pem
*.jpeg
*.jpg
*.debug*
*.dist-info
*.pyc
*.egg-info*
*venv*
*urllib3*
*requests*
*linebot*
*idna*
*certifi*
*.debug*
*chardet*
*future*
*libfuturize*
*libasteurize*
*past*